.git/*
vendor/*
node_modules/*

*.git
*.pyc
*.vagrant
*.vendor
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.tox/
.bundle/
.cache/
__pycache__/

.git
*.gitignore

*.mo
*.pyc
*.swp
*.swo
*.~

Procfile*

_debug/
espeak_tmp.wav
.coverage.*
