# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ruby dependcies
.bundle/
.vendor/
Gemfile.lock

pycairo*
pygobject*
*gst-plugins-espeak-*
espeak-1.48.04-source.zip
pa_stable_v19_20140130.tgz
pa.tgz
portaudio
ess.zip
espeak-1.48.04-source
pocketsphinx
sphinxbase

# os x
.DS_Store
*.DS_Store
*.DS_Store*
listener.py.diff

# source: https://www.sublimetext.com/docs/3/projects.html
*.sublime-workspace
.sublime-workspace

_debug/
espeak_tmp.wav
.vscode/tags
