pip>=7.0
bumpversion>=0.5.3
wheel>=0.29.0
watchdog>=0.8.3
flake8>=2.6.2
flake8-docstrings>=0.2.8
tox>=2.3.1
coverage>=4.1
Sphinx>=1.4.5
cryptography==2.0
PyYAML>=3.11
requests_mock>=1.0
mock-open>=1.3.1
mock==2.0.0

# from home assistant
pydocstyle>=1.0.0
mypy-lang>=0.4
pylint>=1.5.6
# NOTE: We need to install android as well
# python -m pip install astroid
# NOTE: We need isort too
isort==4.2.15
coveralls>=1.1

# data science
ipython>=5.1.0
gnureadline>=6.3.0

# pytest
pytest>=2.9.2
pytest-cov>=2.3.1
pytest-timeout>=1.0.0
pytest-catchlog>=1.2.2
pytest-benchmark[histogram]>=3.0.0rc1
freezegun==0.3.9
# git+git://github.com/mverteuil/pytest-ipdb.git
-e git+https://github.com/mverteuil/pytest-ipdb#egg=pytest-ipdb
pdbpp==0.9.1
# pudb
pytest-sugar==0.8.0
pytest-rerunfailures>=2.1.0
pytest-mock==1.6.2
pytest-leaks==0.2.2

# # Test runners
# pytest-capturelog
# pytest-cov
# pytest-faulthandler

# # To make wheel packages
# wheel

# # Securely upload packages to PyPI
# twine

# tracing and debugging
hunter==2.0.0

# testing helpers for future
# description: A testing library for python with powerful and flexible assertions. Sure is heavily inspired by should.js
# source: https://pypi.python.org/pypi/sure
# sure==1.4.0

# https://github.com/joke2k/faker
# description: Faker is a Python package that generates fake data for you
# source: https://github.com/joke2k/faker
# faker==0.7.7

cython==0.26.1

# trace python process
pystuck==0.8.5
objgraph==3.1.0
xdot==0.8

# googles smarter autoformatter to conform to autopep8
yapf==0.16.3
