pytest-leaks
pytest-xdist
unittest2pytest
pympler
pydocstyle
pytest-ordering
pytest-interactive==0.1.1

ptpdb
ptpython

# source: https://github.com/pyca/pyopenssl/issues/447
# source: https://github.com/dropbox/pytest-flakefinder
-e git+https://github.com/dropbox/pytest-flakefinder#egg=pytest-flakefinder