pydbus>=0.5.0
colorlog>=2.7
Click>=6.0
click-plugins>=1.0
psutil>=4.3.0
Fabric3==1.13.1.post1
PyYAML>=3
jinja2>=2.8
typing>=3,<4
voluptuous==0.10.5
xdg>=1.0.4
six==1.10.0
yapf==0.18.0

# Yaml 1.2 spec
ruamel.yaml==0.15.33


# There also is a commandline utility yaml available after installing:
ruamel.yaml.cmd==0.4.2

# config
layeredconfig==0.3.2
