# for usage with pip-compile
bumpversion
coverage
coveralls
cryptography
cython
flake8-docstrings
flake8
freezegun
gnureadline
hunter
ipython
isort
mock
mock-open
mypy-lang
objgraph
pydocstyle
pylint
pystuck
pytest-benchmark[histogram]
pytest-cov
pytest-mock
pytest-rerunfailures
pytest-sugar
pytest-timeout
pytest
PyYAML
requests_mock
Sphinx
watchdog
xdot
