pytest-leaks
pytest-xdist
unittest2pytest
pympler==0.5
pydocstyle
pytest-ordering
pytest-interactive

ptpdb
ptpython

# source: https://github.com/pyca/pyopenssl/issues/447
# source: https://github.com/dropbox/pytest-flakefinder
-e git+https://github.com/dropbox/pytest-flakefinder#egg=pytest-flakefinder