pydbus>=0.6.0
colorlog>=3.1.2
Click>=6.7
click-plugins>=1.0.3
psutil>=5.4.3
Fabric3==1.14.post1
PyYAML>=3.12
jinja2>=2.10
typing>=3.6.4,<4
voluptuous==0.11.1
xdg>=3.0.0
six==1.11.0
yapf==0.20.2

# Yaml 1.2 spec
ruamel.yaml==0.15.42


# There also is a commandline utility yaml available after installing:
ruamel.yaml.cmd==0.4.2

# config
layeredconfig==0.3.2
